# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# GATEWAY
AUTH_USER_POSTGRES_DB=auth-user
AUTH_USER_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${AUTH_USER_POSTGRES_DB}
JWT_SECRET=secret
SMTP_URL='<VOTRE URL SMTP>'
GATEWAY_PWA_URL=http://localhost:3001
GATEWAY_ADMIN_DASHBOARD_URL=http://localhost:3002

# SERVICES
DEMAND_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/demand
RESTAURANT_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/restaurant
ORDER_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/order
PUBLIC_MAPBOX_ACCESS_TOKEN="pk.eyJ1Ijoibmlrb2xhcGFhYWEiLCJhIjoiY2t4NXc5azQ2MTk0ejJvcWtqbmx5ZTkxaiJ9.z9gcfqUSWayg-2cSjUkiag"
DEMAND_HOST=demand
# FRONT
NUXT_PUBLIC_GATEWAY_URL=http://localhost:3000
NUXT_PUBLIC_SERVER_GATEWAY_URL=http://gateway:3000
